.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0px 5%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 10000000000000000000;
}

.modal-cont-details {
  width: 500px;
  margin: auto;
  background-color: whitesmoke;
  padding: 10px;
  transition: 0.5s ease-in-out;
  margin-top: 100px;
  border-radius: 5px;
}

.modal-cont-details {
  width: 500px;
  margin: auto;
  background-color: whitesmoke;
  padding: 10px;
  transition: 0.5s ease-in-out;
  margin-top: 100px;
  border-radius: 5px;
}

.modal-cont-details .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-cont-details .top .icon {
  cursor: pointer;
  border: 1px solid blue;
  color: blue;
  padding: 5px;
  font-size: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(116, 116, 226, 0.5);
}

.modal-comp-form div {
  border: 0px;
  margin-bottom: 10px;
}
.modal-comp-form input {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-comp-form textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-comp-form select {
  padding: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .modal-cont-details {
    width: 100%;
  }
}
