.owl-theme {
  padding: 50px 0px 20px;
}
.owl-theme .item {
  height: 400px;
  position: relative;
}

.owl-theme .item p {
  position: absolute;
  color: white;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  text-align: center;
}

.owl-theme .item img {
  object-fit: cover;
  height: 100%;
  filter: brightness(50%);
}

.owl-theme .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --c: no-repeat linear-gradient(rgba(0, 256, 0, 0.3) 0 0);
  background: var(--c) calc(-100% + var(--i, 0) * 100%) 100% / 50%
      calc(100% * var(--i, 0) + 0.08em),
    var(--c) calc(200% - var(--i, 0) * 100%) 0 / 50%
      calc(100% * var(--i, 0) + 0.08em);
  transition: 0.3s calc(var(--i, 0) * 0.3s),
    background-position 0.3s calc(0.3s - var(--i, 0) * 0.3s);
}
.owl-theme .item:hover .bg {
  --i: 1;
}

.owl-nav {
  position: absolute;
  top: 43%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owl-next,
.owl-prev {
  background-color: rgba(256, 256, 256, 0.3) !important;
  font-size: 20px !important;
  padding: 5px !important;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-dots {
  display: none;
}

@media screen and (max-width: 960px) {
  .owl-theme .item {
    height: 220px;
    position: relative;
  }
  .owl-theme {
    padding: 30px 0px 20px;
  }
}

@media screen and (max-width: 400px) {
  .owl-theme .item {
    height: 180px;
    position: relative;
  }
  .owl-theme {
    padding: 30px 0px 20px;
  }
}
