.top-space {
  padding-top: 120px;
}

.login-form {
  padding-top: 30px;
  background-color: rgba(256, 256, 256, 0.3);
}

.login-form select {
  border-radius: 5px;
  padding: 8px;
}

.login-form button {
  background-color: rgb(2, 86, 144);
  border: 1px solid rgb(2, 86, 144);
  color: white;
}

.login-form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form input,
.login-form select,
.login-form button {
  display: block;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
}

.select-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  background-color: transparent;
}

.select-form select,
.select-form option {
  padding: 7px;
  width: 90%;
  border: none;
  outline: none;
}

.select-form button {
  background-color: rgb(2, 86, 144);
  border: 1px solid rgb(2, 86, 144);
  color: white;
  padding: 10px;
  border-radius: 0px;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../RecoaImages/Pic\ 001\ -\ Home\ Page\ Image\ -\ D.png");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0px 5%;
}

.background div {
  text-align: center;
}

.join-form div {
  margin-bottom: 10px;
}

.join-form .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-form .flex div {
  width: 49%;
}

.join-form textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.join-form textarea,
.join-form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.about-container {
  padding: 120px 5% 10px;
  text-align: justify;
}

.find-container {
  padding: 105px 5px 5px;
}
.find-container .cont {
  display: flex;
}

.find-container .cont .map {
  flex: 3;
  height: 500px;
}
.find-container .cont .img {
  flex: 1;
  height: 500px;
  background-color: whitesmoke;
}

/* .show-action {
  opacity: 0;
}

.show-cont-comp:hover .show-action {
  opacity: 1;
} */

@media screen and (max-width: 960px) {
  .select-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
  }
  .background {
    height: 500px;
  }
  .about-container {
    padding: 80px 5% 10px;
  }
  .find-container {
    padding: 80px 5% 20px;
  }
  .find-container .cont {
    display: block;
  }
  .find-container .cont .map {
    height: 400px;
  }

  .find-container .cont .img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .find-container .cont .map {
    height: 300px;
  }
}

.nohover:hover {
  color: white;
}
